/*
* Author: Vishal Pradhan
*Date: 06-08-2017
*/

#progressbar {
	margin-bottom: 30px;
        left: 1000px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}


/*#main{
	position: absolute;
 	font-size: 40px;
 	font-family:Brush Script MT;
 	color:#00ffff;
 	height: 100px;
 	text-align: center;
 	top:130px;
	left:350px;
 }

#main1{
	position: absolute;
 	font-size: 20px;
 	font-family:Brush Script MT;
 	color:#00ffff;
 	height: 100px;
 	text-align: center;
 	top:140px;
	left:330px;
 }
 #wrapper{
 	background-color: lightgrey;
 	position:relative;
	width:1000px;
	margin:auto;
 }

#map{
	position:absolute;
	top:160px;
	left:100px;
	font-family:Brush Script MT;
	padding: 20px 400px 300px 400px;
	margin: auto;
	border: solid-black;
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
    border: 5px solid black;
    overflow: hidden;
}

#map1{width :500px;
	font-family:"verdana";
	border-left: 10px solid blue;
	border: 1px solid blue;
	margin: 20px;
	padding: 10px;
    background-color: grey;}

#nav{
	position:relative;
	top:100px;left:1;
	background-color: grey;
	height:50px;
	text-align: center;
	border-bottom:1px solid black;
}

nav ul{
  list-style-type: none;
  margin: 0 2px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#nav li {
    display: inline-block;
    color: white;
    padding: 4px 0 4px 8px;
    text-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

 Change the link color on hover ignore for now
#nav li a:hover {
    background-color: #555;
    color: white;
}


#banner{
	position: absolute;
	width:100%;
	height:100px;
	background-color:blue;
	color:white;
	text-align: center;
	font-family:Brush Script MT;
	font-size: 20px;
}*/



/* ignore this for now 
/*#banner form {
    float: right; 
    margin-right: 30px; 
    height: 10px; 
    padding-top: 8px;
}

#banner form label {
    display: inline-block; 
    margin: 0 2px;
}
#banner form input {}

#banner form #s-user, 
#banner form #s-pass {
    display: block;
    width: 250px;
    border: 1px solid #eee;
    padding: 3px 0 3px 0;
    margin-bottom: -1px;
}

#banner form .submit {
    height: 23px;
    vertical-align: bottom;
    background: #d743ae; 
    color: #fff;
    border: 1px solid #ddd;
    -moz-border-radius: 5px;    
    border-radius: 5px;
} till here*/

/*and this as well*/
/*#banner form {
    float: right; 
    margin-right: 30px; 
    height: 20px; 
    padding-top: 8px;
    color: black;
}

#banner form input {
    display: inline-block; 
    margin: 0 2px;
    height: 20px; 
}

#banner form #s-user, 
#banner form #s-pass {
    display: block;
    width: 150px;
    border: 1px solid #eee;
    padding: 3px 0 3px 0;
    margin-bottom: 1px;
}*/
/*footer{
	position:relative;
	text-align: center;
 	font-size: 50px;
 	font-family: cooper black;
 	background: url("image/mainimage.jpg") 100%;
 	color: #00ffbf;
 	padding: 5px;
 	width: 100%;
 	height: 150px;
 	top: 1000px;
 	float:bottom;
 }

 #main-content{
	position: absolute;
	margin: 20px 100px 0px 0px;
	padding-right: 10px;
	text-align: justify;
 	top:130px;
 	left: 160px;
 	bottom: auto;
 	height:100%;
 	width:80%;
 	font-size: 20px;
 	font-style: italic;
 	color:white;
 	line-height: 1.8;
}

#wrapper{
	position:relative;
	width:100%;
	min-height: 100%;
	margin: 30px 100px 0px 0px;
}

#img{
	position:absolute;
	min-width:100%;
	min-height: 100%;
	width: 100%;
	height: 100%;
	top:160px;
	left:0;
	right:0;
	bottom:1000px;
	
	background: url("image/headerimage1.jpg") no-repeat center;
 	background-size:100%;
}

div#prod{
	position:absolute;
	top:150px;
	left:1px;
	width:150px;
	padding-top:20px;
}
div#prod a{
	display:block;
	text-decoration:none;
	font: normal 16pt/24pt arial;
	color:black;
}


 #t1{
 	text-align: center;
 	background-color: lightgrey;
    width: 300px;
    padding: 10px;
    border: 1px ;
    margin: 1px;

 }

 #t2
 {

 	text-align: center;
 	top: 120px;
 	left: 0px;
 	margin:auto;
 	padding: auto;
 	max-width: 500px;
 	float:left;
 }

 #t3{
 	position: absolute;
 	text-align: center;
 	top:0px;
 	left:1150px;
 	margin:auto;
 	padding:auto;
 	max-width: 400px;
 	float:right;
 }

  #t4{
 	text-align: center;
 	top:0px;
 	left:0px;
 	margin:auto;
 	padding:auto;
 	max-width: 100px;
 	
 }
 

#banner{
	position:absolute;
	top:0;left:0;
	height:100px;
	width:100%;
	color:white;
	background-color:black;
}

body{
	padding:0;
	margin:0;
}

#nav{
	position:relative;
 	top:0;
 	left:0;
 	right:0;
 	width: 150px;
 	height:100%;
 	padding:0;
 	float:left;
 	text-align: center;
 	
	#border-right:1px solid black;
	}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: rgba(1,1,1,0.8);
}
#nav li a {
    display: block;
    color: white;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
/*#nav li a:hover {
    background-color: #555;
    color: white;
}



#contact{
	position: absolute;
	text-align: center;
	color:white;
	font-style:italic;
 	top:150px;
 	bottom: auto;
 	height:100%;
 	width:300px;
 	left:160px;
 	font-size: 20px;
 	}

#logo{
	position: absolute;
	left: 10px;
	top: 20px;
	max-width: 100%;

}

#cart{
	position: absolute;
	right: 20px;
	top: 100px;
	max-width: 100%;
}


#media1{
	position:absolute;
	right: 280px;
	top:40px;
}

#media2{
	position:absolute;
	right: 200px;
	top:40px;
}

#media3{
	position:absolute;
	right: 120px;
	top:40px;
}

#media4{
	position:absolute;
	right: 40px;
	top:40px;
}*/