test page for a booking in progress
<form action="/process_return_car" method="POST">
        <input type="hidden" name="booking_id" value="$booking.getId()">
        <input type="submit" class ="btn btn-primary btn-block" value="finish booking" />
</form>
