<!DOCTYPE html>
<html lang="en">
<head>
  <title>Car Share</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="carshare.css"/>
</head>
<body>
  <div id="wrapper">
    <div id="banner">
      <h1> Carshare.com.au</h1>
    </div>
    <div id="nav">
      <ul>
      <li><a href="http://www.google.com">How it works</a></li>
      <li><a href="location.html">Location and Cars</a></li>
      <li><a href="http://www.cgsociety.org">Rates</a></li>
      <li><a href="http://www.twitter.com">Membership</a></li>
      <li><a href="http://www.rottentomatoes.com">About Us</a></li>
      <li><a href="register.html">Register</a></li>
      <li><a href="login.html">Login</a></li>
  </ul>
    </div>
    <div class="container">
      #parse( $template )
    </div>
</div>
</body>
</html>