<!DOCTYPE html>
<html lang="en">
<head>
  <title>Car Share</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="carshare.css"/>
  <!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css-->
</head>
<body>
  <div id="wrapper">
    <div id="banner">
      <h1> Carshare.com.au</h1>
    </div>
    <div id="nav">
      <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
  </ul>
    </div>
    <div class="container">
      #parse( $template )
    </div>
</div>
</body>
</html>