<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mobicar-Share</title>
    <meta name="viewport" content="width=device-width", initial-scale="1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="sidebar.css">
    <link rel="stylesheet" href="map.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>  
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>            
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
    <script type="text/javascript" src="jquery.validate.js"></script>
    <script src="login.js"></script>
    <script src="register.js"></script>
    <script src="cardvalidation.js"></script>
    <script src="search.js"></script>
    <script src="advancesearch.js"></script>
    

</head>
<body>

        <nav class="navbar navbar-default" style="margin:0">
            <div class="container">

        <!--Logo/Name of the Company-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="/" class="navbar-brand">MOBICARSHARE</a>
            </div>
        <!--</nav>-->

        <!--Menu Items-->
            <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#"><span class="glyphicon glyphicon-search" onclick="openNav()"></a></span></li>
                    <li><a href="/">Contact </a></li>
                    <li><a href="/about">About Us </a></li>
                    <li><a href="/booking_history">History </a></li>
                    <li id="register-btn" style="display:none"><a href="/register">Register</a></li>
                    <li id="login-btn" style="display:none"><a href="/login">Login</a></li>
                    <li id="logout-btn" style="display:none"><a href="/process_logout">logout</a></li>
                </ul>
             </div>
            </div>
        </nav>
        <script>
            $.get("/user_login_status", function(data){
                if(data == "true") {
                    document.getElementById('logout-btn').style.display = 'list-item';
                }
                else {
                    document.getElementById('register-btn').style.display = 'list-item';
                    document.getElementById('login-btn').style.display = 'list-item';
                }
            });
        </script>
        <div class="container" class="modal" role="dialog">
            <div id="Modal" class="modal fade">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Car Details</h4>
                    </div>
                    <div class="modal-body" id="car_detail">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <form>            
                <div class="form-group">
                    <label for="filter">Filter by</label>
                    <select name="type" id="type" class="form-control">
                        <option value="">Select Type</option>   
                    </select>
                </div>
                <div class="form-group">
                    <!--<label for="contain">Select Make</label>-->
                    <select name="make" id="make" class="form-control">
                        <option value="">Select Make</option>
                    </select>
                </div>
                <div class="form-group">
                    <!--<label for="contain">Select Model</label>-->
                    <select name="model" id="model" class="form-control">
                        <option value="">Select Model</option>
                        <!--<option value="1">Corolla</option>
                        <option value="2" selected>Falcon</option>
                        <option value="3">Commodore</option>
                        <option value="4">Elantra</option>
                        <option value="5">i30</option>--> 
                    <!--<input class="form-control" type="text" />-->
                    </select>
                </div>
              
                  <button type="submit" method="post" action="/search_for_cars" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </form>           
            

        </div>
        <div>
             #parse( $template )
        </div>

</body>
</html>