<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">

        <!--Logo/Name of the Company-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="H:/UNI/bachelors/HTML's/web/src/home.html" class="navbar-brand">MOBICARSHARE</a>
        </div>
        <!--</nav>-->

        <!--Menu Items-->
        <div class="collapse navbar-collapse" id="mainNavBar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">How it Works </a></li>
                <li><a href="#">Locations </a></li>
                <li><a href="#">Cars </a></li>
                <li><a href="#">Rates </a></li>
                <!--Drop Down Menu-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Membership <span class="caret"></span> </a>
                    <ul class="dropdown-menu">
                        <li><a href="H:/UNI/bachelors/HTML's/web/src/register.html">Join Now</a></li>
                        <li><a href="H:/UNI/bachelors/HTML's/web/src/login.html" data-target="popUpWindow" data-toggle="modal">Login</a></li>
                    </ul>
                <li><a href="#">Contact </a></li>
                <li><a href="#">About Us </a></li>
                <li><a href="#">FAQ's </a></li>
            </ul>

            <!--This will go once the login button is functional-->
            <!--Right logout menu-->
            <!--<ul class="nav navbar-nav navbar-right">-->
            <!--<li><a href="#">Logout</a></li>-->
            <!--</ul>-->
        </div>
    </div>
</nav>




    <div class="container">
        <!--<h3>Log In Demo</h3>-->
        <!--<button type="button" class="btn btn-success" data-toggle="modal" data-target="popUpWindow">Open Modal</button>-->

        <!--<div class="modal fade" id="popUpWindow">-->
            <div class="modal-dialog">
                <div class="modal-content">
                <!--<div class="jumbotron">-->

                    <!--header-->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title">Log In</h2>
                    </div>

                    <!--body-->
                    <div class="modal-body">
                        <!--<form role="form">-->
                        <form action="/process_login" method="post">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password">
                            </div>

                        </form>
                    </div>

                    <!--footer-->
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-block">Login</button>
                    </div>
                </div>
            </div>
        <!--</div>-->
    </div>

</body>
</html>