<div>
<p>$car.getMake() $car.getModel()</p>
<p>$car.getType()</p>
<p>Plate number: $car.getPlate_no()</p>
<p>Hourly price: $car.getHourly_price()</p>
<p>Collection date: $booking.getCollection_date()</p>
<p>Collection time: $booking.getCollection_time()</p>
<p>Return date: $booking.getEnd_date()</p>
<p>Return time: $booking.getEnd_time()</p>
<p>Total cost: </p>

<form action="/">
<input type="submit" value="Done">
</div>